.section {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--text-h3-size);
  font-weight: 600;
  color: var(--color-gray-700);
  margin: 0 0 var(--space-3);
  line-height: var(--text-h3-line);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
